@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --color-background: #f2f2f7;
  --color-white: #ffffff;
  --color-blue: #007aff;
  --color-gray: rgba(60, 60, 67, 0.6);
  --color-seperator: rgba(60, 60, 67, 0.36);
  --color-text-primary: #000000;
  --color-text-input: rgba(118, 118, 128, 0.12);
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: var(--color-text-primary);
} */
