@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

/* Hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --color-background: #f2f2f7;
  --color-navbar-background: #282829;
  --color-white: #ffffff;
  --color-blue: #007aff;
  --color-gray: rgba(60, 60, 67, 0.6);
  --color-seperator: rgba(60, 60, 67, 0.36);
  --color-seperator-secondary: rgba(60, 60, 67, 0.16);
  --color-text-primary: #000000;
  --color-text-input: rgba(118, 118, 128, 0.12);

  --color-dark-background: #000000;
  --color-dark-secondary-background: #2c2c2e;
  --color-dark-seperator: rgba(84, 84, 88, 0.65);
  --color-dark-seperator-secondary: rgba(84, 84, 88, 0.36);
  --color-dark-text-input: rgba(235, 235, 245, 0.6);
  --color-dark-text-input-field: #2c2c2e;
  --color-dark-secondary-text-input-field: #3a3a3c;
  --color-dark-sub-title: rgba(235, 235, 245, 0.6);
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  input {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  input::placeholder {
    color: var(--color-dark-text-input);
  }
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

@media (max-width: 468px) {
  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }

  h4 {
    @apply text-sm;
  }

  p,
  div,
  input,
  input::placeholder {
    @apply text-xs;
  }
}

.modal {
  @apply: z-10 flex w-80 flex-col gap-4 rounded-[10px] bg-white p-4 shadow-xl;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--color-dark-background);
  }
}

textarea {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
